<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %} - EasyNer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="nav">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('get_tables') }}">Tables</a>
        <a href="{{ url_for('list_documents') }}">Documents</a>
        <a href="{{ url_for('list_named_entities') }}">Named Entities</a>
        <a href="{{ url_for('list_entity_occurrences') }}">Entity Occurrences</a>
        <a href="{{ url_for('list_aggregated_entity_occurrences') }}">Aggregated Entity Occurrences</a>
        <a href="{{ url_for('raw_cooccurrences') }}">Raw Co-occurrences</a>
        <a href="{{ url_for('summary_cooccurrences') }}">Summary Co-occurrences</a>
        <a href="{{ url_for('disease_phenomena_sankey') }}">Disease-Phenomena Sankey</a>
        <a href="{{ url_for('health_check') }}">Health Check</a>
        <a class="nav-link" href="{{ url_for('show_indexes') }}">Indexes</a>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
