<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %} - EasyNer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="nav">
        <a href="/">Home</a>
        <a href="/tables">Tables</a>
        <a href="/documents">Documents</a>
        <a href="/named-entities">Named Entities</a>
        <a href="/entities">Entity Occurrences</a>
        <a href="/entity-cooccurrences/">Entity Co-occurrences</a> <!-- Added navigation option -->
        <a href="/health">Health Check</a>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
