data/tmp/*
*pycache*
*results*
dev_easyner_env/**
.vscode/**
**/logs/*
**/*logs/*
**.out
**.err
**.db
**.db.*
**.db-*
tests/test_find_entity_cooccurrences.json
tests/generated_output.json
tests/test_export_cooccurences.json
tests/test_export_cooccurrences.csv
test_export_cooccurrences.csv
tests/test_database.db-wal
tests/test_database.db-shm
tests/test_entity_fq.csv
*/slurm_job_manager/batch_*.*
**/slurm_job_manager/results*
supplementary/slurm_job_manager/job_status.txt
supplementary/slurm_job_manager/job_*.json
supplementary/slurm_job_manager/batches.json
supplementary/slurm_job_manager/rerun_batches.log
supplementary/slurm_job_manager/job_scripts/merge/*
supplementary/slurm_job_manager/job_scripts/merge_backwards.slurm
supplementary/slurm_job_manager/job_scripts/merge.slurm
scripts/database/static/styles.css
scripts/database/statistics/cache/*
**.prof
notebooks/.ipynb_checkpoints/*
