data/tmp/*
*pycache*
*results*
dev_easyner_env/**
**/slurm_job_manager/batches.json
**/slurm_job_manager/job_metadata.json
**/slurm_job_manager/job_status*
**/slurm_job_manager/**/**.log
**/slurm_job_manager/**/**.err
**/slurm_job_manager/**/**.out
**/slurm_job_manager/**/**.slurm
**/slurm_job_manager/job_batch**/**
.vscode/**
tests/test_find_entity_cooccurrences.json
**.db
tests/generated_output.json
